<?xml version="1.0"?>
<robot name="sensor_robosense_helios" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="sensor_robosense_helios"
               params="frame_prefix
                       parent
                       *origin
                       simulation:=true
                       node_name:=robosense_helios
                       node_namespace:=${None}
                       topic_prefix:=~/
                       gpu:=true">

    <joint name="${frame_prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${frame_prefix}base_link"/>
    </joint>
    <link name="${frame_prefix}base_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/3d_lidar/robotsense/helios_16p.stl"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/3d_lidar/robotsense/helios_16p.stl"/>
        </geometry>
        <material name="blackgray_color">
          <color rgba="0.25 0.25 0.25 1"/>
        </material>
      </visual>
      <inertial>
        <mass value="0.840" />
        <origin xyz="0 0 0.04135" />
		<xacro:solid_cuboid_inertia m="0.840" w="0.109" h="0.109" d="0.0827" />
      </inertial>
    </link>
    <joint name="${frame_prefix}joint" type="fixed">
      <parent link="${frame_prefix}base_link"/>
      <child link="${frame_prefix}link"/>
      <origin xyz="0.0 0 0.0635" rpy="0 0 0"/>
    </joint>
    <link name="${frame_prefix}link"/>
      <gazebo reference="${frame_prefix}link">
        <sensor name='gpu_lidar' type='gpu_lidar'>
          <pose relative_to='${frame_prefix}link'>0 0 0 0 0 0</pose>
          <topic>${frame_prefix}sensor</topic>
          <update_rate>20</update_rate>
          <gz_frame_id>${frame_prefix}link</gz_frame_id>
          <lidar>
            <scan>
              <horizontal>
                <samples>450</samples> <!-- 900 -->
                <resolution>1</resolution>
                <min_angle>-3.141592</min_angle>
                <max_angle>3.141592</max_angle>
              </horizontal>
              <vertical>
                <samples>16</samples>
                <resolution>1</resolution>
                <min_angle>-0.261799</min_angle>
                <max_angle>0.261799</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.2</min>
              <max>90.0</max>
              <resolution>0.02</resolution>
            </range>
          </lidar>
          <visualize>true</visualize>
        </sensor>
      </gazebo>
  </xacro:macro>
</robot>
